@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');


/* Global Styles */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #cf0f0fe6;
  color: #333;
}

/* a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: red;
}

ul {
  list-style: none;
} */
/* 
img {
  width: 100%;
} */

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.btn{
  background-image: linear-gradient(to right, #5cad74 0%, #bfe9ff  51%, #ff6e7f  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  cursor: pointer;
  border-radius: 10px;
  display: block;
}



.btn-block {
  display: block;
  width: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.div{
  background: #8bcf0b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #8bcf0b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #8bcf0b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

div img{
  border-radius: 20px;
}
.div:hover{
  background: #419ea5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12a0a5, #2e7ba8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bd0d5f, #ac091f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  transform: scale(1.1) ;
  transition: 1s ease;
}


.btn:hover {
 
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  height: 100px;
}

.navbar ul {
  display: flex;
}

.navbar img{
  width:64px;
  height: 64px;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}



/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
